[submodule "ascend-ci-deployment"]
	path = ascend-ci-deployment
	url = https://github.com/opensourceways/ascend-ci-deployment.git
[submodule "ascend-ci-argocd"]
	path = ascend-ci-argocd
	url = https://github.com/opensourceways/ascend-ci-argocd.git
[submodule "ascend-runner-onboarding"]
	path = ascend-runner-onboarding
	url = https://github.com/opensourceways/ascend-runner-onboarding.git
[submodule "runner-containers-hooks"]
	path = runner-containers-hooks
	url = https://github.com/ascend-gha-runners/runner-container-hooks.git
